






<!-- <table class="table table-condensed table-bordered">
				  <caption><h3>Teams</h3></caption>
				  <thead>
				    <tr>
				      <th>Passing</th>
				      <th>Rushing</th>
				      <th>Special Teams</th>
				      <th>Defense</th>
				      <th>Wins</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td><%= @team.p1 %></td>
				      <td><%= @team.r1 %></td>
				      <td><%= @team.s1 %></td>
				      <td><%= @team.d1 %></td>
				      <td><%= @team.w1 %></td>
				    </tr>				    
				    <tr>
				      <td><%= @team.p2 %></td>
				      <td><%= @team.r2 %></td>
				      <td><%= @team.s2 %></td>
				      <td><%= @team.d2 %></td>
				      <td><%= @team.w2 %></td>
				    </tr>
				    <tr>
				      <td><%= @team.p3 %></td>
				      <td><%= @team.r3 %></td>
				      <td><%= @team.s3 %></td>
				      <td><%= @team.d3 %></td>
				      <td><%= @team.w3 %></td>
				    </tr>
				    <tr>
				      <td><%= @team.p4 %></td>
				      <td><%= @team.r4 %></td>
				      <td><%= @team.s4 %></td>
				      <td><%= @team.d4 %></td>
				      <td><%= @team.w4 %></td>
				    </tr>
				  </tbody>
				</table> -->
